{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
      <div class="wrapper">
        <div class="breadcrumbs">
          <div class="breadcrumbs__page-title">
            <div class="breadcrumbs__page-title-image"><img src="/html/template/default/assets/img/icons/page-title-logo.png" alt=""></div>
            <div class="breadcrumbs__page-title-text">
              <div class="breadcrumbs__page-title-text-en">{{'front.forgot.password_complete_subtitle'|trans}}</div>
              <div class="breadcrumbs__page-title-text-jp">{{'front.forgot.password_complete_title'|trans}}</div>
            </div>
          </div>
          <div class="breadcrumbs__main"><a class="breadcrumbs__main-pagename breadcrumbs__main-pagename--inactive" href="https://captainfoods.co.jp/stg/shop/">{{'common.position_top'|trans}}</a>
            <div class="breadcrumbs__main-carret"><img src="/html/template/default/assets/img/icons/icon-arrow-right-red.svg" alt=""></div><span class="breadcrumbs__main-pagename">{{'common.position_password'|trans}}</span>
          </div>
        </div>
      </div>
      <section class="login"> 
        <div class="login__content"> 
          <div class="login__wrap"> 
            <h3 class="login__title">{{'front.forgot.password_complete_sent'|trans}}</h3>
            <div class="login__container">
              <p class="login__paragraph">
                 {{'front.forgot.password_complete_message01'|trans}}<br>
                {{'front.forgot.password_complete_message02'|trans}}<br><span class="red">{{'front.forgot.password_complete_message03'|trans}}<br></span>{{'front.forgot.password_complete_message04'|trans}}
              </p>
              <button class="button__pamphlet login__button-p">{{'common.move_to_page_top'|trans}}</button>
            </div>
          </div>
        </div>
      </section>

{% endblock %}


