<head>
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css', 'admin') }}">
</head>
<body>
{% for content in orders %}
    {% for data in content.orders %}
        <section class="page">
            <section>
                <div class="text-left d-flex justify-content-between">
                    <p class="title">納品書</p>
                    <p>{{ deliveryDate }}</p>
                    <div class="d-flex">
                        <p>トラックNo.{{ loop.index }}</p>
                        <p class="border-bottom ml-2">No.525727{{ loop.index }}</p>
                    </div>
                </div>
                <div class="sub-title-wrap">
                    <div>
                        <p>地区: 2A</p>
                        <p>住所: {{ data.addr01 }}{{ data.addr02 }}</p>
                    </div>
                    <div>
                        <p>1001397{{ data.id }}</p>
                        <p>{{ data.name01 }} {{ data.name02 }}</p>
                        <p>TEL {{ data.phone_number }}　　P 248</p>
                    </div>
                    <div>
                        <p>キャプテンフーヅ(株)</p>
                        <p>TEL 0458319858</p>
                        <p>登録番号:  1000000</p>
                    </div>
                </div>
                <div class="content">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 80px;">温度帯</th>
                            <th>商品名</th>
                            <th style="width: 80px;">個数</th>
                            <th style="width: 80px;">単価</th>
                            <th style="width: 80px;">金額</th>
                            <th style="width: 80px;">ポイント</th>
                        </tr>
                        </thead>
                        {% set totalPoint = 0 %}
                        {% for item in data.OrderItems %}
                            <tr>
                                <td style="width: 80px; max-width: 80px;"></td>
                                <td>
                                    {{ item.product_name }}
                                </td>
                                <td style="width: 80px;">
                                    {% if item.quantity >= 2 %}
                                        ★
                                    {% endif %}
                                    {{ item.quantity }}
                                </td>
                                <td style="width: 80px;" class="text-right">{{ (item.price) | round(0, 'floor') | number_format  }}</td>
                                <td style="width: 80px;" class="text-right">{{ (item.price * item.quantity) | round(0, 'floor') | number_format }}</td>
                                <td style="width: 80px;">{{ (item.price * item.quantity / 100) | round(0, 'floor') }}</td>
                                {% set totalPoint = totalPoint + (item.price * item.quantity / 100) | round(0, 'floor') %}
                            </tr>
                        {% endfor %}
                        <tr>
                            <td style="width: 80px; max-width: 80px;"></td>
                            <td></td>
                            <td style="width: 80px;"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;"></td>
                        </tr>
                        <tr>
                            <td style="width: 80px; max-width: 80px;"></td>
                            <td></td>
                            <td style="width: 80px;"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;"></td>
                        </tr>
                        <tr>
                            <td style="width: 80px; max-width: 80px;"></td>
                            <td></td>
                            <td style="width: 80px;"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;"></td>
                        </tr>
                        <tr>
                            <td style="width: 80px; max-width: 80px;"></td>
                            <td></td>
                            <td style="width: 80px;"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;"></td>
                        </tr>
                        <tr>
                            <td style="width: 80px; max-width: 80px;"></td>
                            <td></td>
                            <td style="width: 80px;"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;"></td>
                        </tr>


                        <tr>
                            <td></td>
                            <td></td>
                            <td class="text-right">
                                {% set itemCount = 0 %}
                                {% for item in data.OrderItems %}
                                    {% set itemCount = itemCount + item.quantity %}
                                {% endfor %}
                                {{ itemCount }}
                            </td>
                            <th class="text-center my-0 py-0">商品代金<br>配達料</th>
                            <td class="text-right">{{ data.total | round(0, 'floor') | number_format }}<br>215</td>
                            <td class="text-right">ポイント合計<br>{{ totalPoint }}</td>
                        </tr>
                        <tr>
                            <td colspan="3" rowspan="3">
                                コンテナ1　 10%対象 　215円(内税 19円)<br>
                                項番　 ※8%対象 　{{ data.total | round(0, 'floor') | number_format }}円(内税 722円)<br>
                            </td>
                            <th>内消費税</th>
                            <td class="text-right">741</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>請求金額</th>
                            <td class="text-right">9,215</td>
                            <td> </td>
                        </tr>
                    </table>
                    <div class="d-flex justify-content-between">
                        <p>4月4週(火)</p>
                        <p>※は軽減税率（8%）適用商品です。</p>
                    </div>
                </div>
            </section>
            <section class="mt-3">
                <div class="text-left d-flex justify-content-between">
                    <p class="title">領収書【予定】</p>
                    <p>{{ deliveryDate }}</p>
                    <div class="d-flex">
                        <p>トラックNo.{{ loop.index }}</p>
                        <p class="border-bottom ml-2">No.525727{{ loop.index }}</p>
                    </div>
                </div>
                <div class="sub-title-wrap">
                    <div>
                        <p>地区: 2A</p>
                        <p>住所: {{ data.addr01 }}{{ data.addr02 }}</p>
                    </div>
                    <div>
                        <p>1001397{{ data.id }}</p>
                        <p>{{ data.name01 }} {{ data.name02 }}</p>
                        <p>TEL {{ data.phone_number }}　　P 248</p>
                    </div>
                    <div>
                        <p>キャプテンフーヅ(株)</p>
                        <p>TEL 0458319858</p>
                        <p>登録番号:  1000000</p>
                    </div>
                </div>
                <div class="content">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 80px;">温度帯</th>
                            <th>商品名</th>
                            <th style="width: 80px;">個数</th>
                            <th style="width: 80px;">単価</th>
                            <th style="width: 80px;">金額</th>
                            <th style="width: 80px;">ポイント</th>
                        </tr>
                        </thead>
                        {% set totalPoint = 0 %}
                        {% for item in data.OrderItems %}
                            <tr>
                                <td style="width: 80px; max-width: 80px;"></td>
                                <td>
                                    {{ item.product_name }}
                                </td>
                                <td style="width: 80px;">
                                    {% if item.quantity >= 2 %}
                                        ★
                                    {% endif %}
                                    {{ item.quantity }}
                                </td>
                                <td style="width: 80px;" class="text-right">{{ (item.price) | round(0, 'floor') | number_format  }}</td>
                                <td style="width: 80px;" class="text-right">{{ (item.price * item.quantity) | round(0, 'floor') | number_format }}</td>
                                <td style="width: 80px;">{{ (item.price * item.quantity / 100) | round(0, 'floor') }}</td>
                                {% set totalPoint = totalPoint + (item.price * item.quantity / 100) | round(0, 'floor') %}
                            </tr>
                        {% endfor %}
                        <tr>
                            <td style="width: 80px; max-width: 80px;"></td>
                            <td></td>
                            <td style="width: 80px;"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;"></td>
                        </tr>
                        <tr>
                            <td style="width: 80px; max-width: 80px;"></td>
                            <td></td>
                            <td style="width: 80px;"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;"></td>
                        </tr>
                        <tr>
                            <td style="width: 80px; max-width: 80px;"></td>
                            <td></td>
                            <td style="width: 80px;"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;"></td>
                        </tr>
                        <tr>
                            <td style="width: 80px; max-width: 80px;"></td>
                            <td></td>
                            <td style="width: 80px;"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;"></td>
                        </tr>
                        <tr>
                            <td style="width: 80px; max-width: 80px;"></td>
                            <td></td>
                            <td style="width: 80px;"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="text-right">
                                {% set itemCount = 0 %}
                                {% for item in data.OrderItems %}
                                    {% set itemCount = itemCount + item.quantity %}
                                {% endfor %}
                                {{ itemCount }}
                            </td>
                            <th class="text-center my-0 py-0">商品代金<br>配達料</th>
                            <td class="text-right">{{ data.total | round(0, 'floor') | number_format }}<br>215</td>
                            <td class="text-right">ポイント合計<br>{{ totalPoint }}</td>
                        </tr>
                        <tr>
                            <td colspan="3" rowspan="3">
                                コンテナ1　 10%対象 　215円(内税 19円)<br>
                                項番　 ※8%対象 　{{ data.total | round(0, 'floor') | number_format }}円(内税 722円)<br>
                            </td>
                            <th>内消費税</th>
                            <td class="text-right">741</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>請求金額</th>
                            <td class="text-right">9,215</td>
                            <td> </td>
                        </tr>
                    </table>
                    <div class="d-flex justify-content-between">
                        <p>4月4週(火)</p>
                        <p>※は軽減税率（8%）適用商品です。</p>
                    </div>
                </div>
            </section>
            <section class="mt-3">
                <div class="text-left d-flex justify-content-between">
                    <p class="title">入金書【予定】</p>
                    <p>{{ deliveryDate }}</p>
                    <div class="d-flex">
                        <p>トラックNo.{{ loop.index }}</p>
                        <p class="border-bottom ml-2">No.525727{{ loop.index }}</p>
                    </div>
                </div>
                <div class="sub-title-wrap">
                    <div>
                        <p>地区: 2A</p>
                        <p>住所: {{ data.addr01 }}{{ data.addr02 }}</p>
                    </div>
                    <div>
                        <p>1001397{{ data.id }}</p>
                        <p>{{ data.name01 }} {{ data.name02 }}</p>
                        <p>TEL {{ data.phone_number }}　　P 248</p>
                    </div>
                    <div>
                        <p>キャプテンフーヅ(株)</p>
                        <p>TEL 0458319858</p>
                        <p>登録番号:  1000000</p>
                    </div>
                </div>
                <div class="content">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 80px;">温度帯</th>
                            <th>商品名</th>
                            <th style="width: 80px;">個数</th>
                            <th style="width: 80px;">単価</th>
                            <th style="width: 80px;">金額</th>
                            <th style="width: 80px;">ポイント</th>
                        </tr>
                        </thead>
                        {% set totalPoint = 0 %}
                        {% for item in data.OrderItems %}
                            <tr>
                                <td style="width: 80px; max-width: 80px;"></td>
                                <td>
                                    {{ item.product_name }}
                                </td>
                                <td style="width: 80px;">
                                    {% if item.quantity >= 2 %}
                                        ★
                                    {% endif %}
                                    {{ item.quantity }}
                                </td>
                                <td style="width: 80px;" class="text-right">{{ (item.price) | round(0, 'floor') | number_format  }}</td>
                                <td style="width: 80px;" class="text-right">{{ (item.price * item.quantity) | round(0, 'floor') | number_format }}</td>
                                <td style="width: 80px;">{{ (item.price * item.quantity / 100) | round(0, 'floor') }}</td>
                                {% set totalPoint = totalPoint + (item.price * item.quantity / 100) | round(0, 'floor') %}
                            </tr>
                        {% endfor %}
                        <tr>
                            <td style="width: 80px; max-width: 80px;"></td>
                            <td></td>
                            <td style="width: 80px;"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;"></td>
                        </tr>
                        <tr>
                            <td style="width: 80px; max-width: 80px;"></td>
                            <td></td>
                            <td style="width: 80px;"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;"></td>
                        </tr>
                        <tr>
                            <td style="width: 80px; max-width: 80px;"></td>
                            <td></td>
                            <td style="width: 80px;"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;"></td>
                        </tr>
                        <tr>
                            <td style="width: 80px; max-width: 80px;"></td>
                            <td></td>
                            <td style="width: 80px;"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;"></td>
                        </tr>
                        <tr>
                            <td style="width: 80px; max-width: 80px;"></td>
                            <td></td>
                            <td style="width: 80px;"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;" class="text-right"></td>
                            <td style="width: 80px;"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="text-right">
                                {% set itemCount = 0 %}
                                {% for item in data.OrderItems %}
                                    {% set itemCount = itemCount + item.quantity %}
                                {% endfor %}
                                {{ itemCount }}
                            </td>
                            <th class="text-center my-0 py-0">商品代金<br>配達料</th>
                            <td class="text-right">{{ data.total | round(0, 'floor') | number_format }}<br>215</td>
                            <td class="text-right">ポイント合計<br>{{ totalPoint }}</td>
                        </tr>
                        <tr>
                            <td colspan="3" rowspan="3">
                                コンテナ1　 10%対象 　215円(内税 19円)<br>
                                項番　 ※8%対象 　{{ data.total | round(0, 'floor') | number_format }}円(内税 722円)<br>
                            </td>
                            <th>内消費税</th>
                            <td class="text-right">741</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>請求金額</th>
                            <td class="text-right">9,215</td>
                            <td> </td>
                        </tr>
                    </table>
                    <div class="d-flex justify-content-between">
                        <p>4月4週(火)</p>
                        <p>※は軽減税率（8%）適用商品です。</p>
                    </div>
                </div>
            </section>
        </section>
        <div class="footer mt-2 mb-5">
            <label>{{ createDate }} 作成</label>
            <p class="page-number">- {{ loop.index }} -</p>
        </div>
    {% endfor %}
{% endfor %}
</body>
<style>
    @page {
        size: A4 portrait;
        margin: 0;
    }
    .page{
        width: 100%;

        box-sizing: border-box;
        padding: 10px 15px;
    }
    .page{
        page-break-after: always;
    }
    .page:last-child{
        page-break-after: auto;
    }
    .title {
        font-size: 18px;
        font-weight: 0.4 !important;
        display: inline-block;
        border-bottom: 1px black solid;
    }
    p {
        margin: 0;
        font-size: 12px;
    }
    label  {
        margin-bottom: 0;
    }
    .sub-title-wrap {
        display: flex;
        justify-content: space-between;
    }
    .table {
        margin-bottom: 0;
    }
    .table tbody {
        /*height: 620px;*/
    }
    .table th {
        font-size: 12px;
        padding: 3px 3px;
        background: #a9a9a9;
        text-align: center;
    }
    .table td {
        font-size: 12px;
        font-weight: bold;
        padding: 1px 3px;
        height: 20px;
    }
    .table-content {
        display: flex;
        justify-content: space-between;
    }
    .table-content label {
        max-width: 154px;
        height: 20px;
        overflow: hidden;
    }
    .total-number {
        font-size: 16px;
    }
    .footer {
        position: relative;
    }
    .page-number {
        position: absolute;
        left: 50%;
        top: 0;
    }
    .hint {
        font-size: 12px;
    }
</style>
