<head>
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css', 'admin') }}">
</head>
<body>
{% for order in orders %}
    {% for content in order['data'] %}
    <section class="page">
        <div class="text-center">
            <p class="title">ピッキングリスト</p>
        </div>
        <div class="sub-title-wrap">
            <div>
                <p>出荷予定日: {{ deliveryDate }}</p>
                <p>ブロック: {{ order['title'] }} </p>
            </div>
            <div>
                <p>総個数:   {{ totalQuantities }}</p>
                <p>顧客数:   {{ totalCustomers }}</p>
            </div>
        </div>
        <div class="content">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>
                        <div class="table-content">
                            <label>商品</label>
                            <label>個数　</label>
                        </div>
                    </th>
                    <th>
                        <div class="table-content">
                            <label>商品</label>
                            <label>個数　</label>
                        </div>
                    </th>
                    <th>
                        <div class="table-content">
                            <label>商品</label>
                            <label>個数　</label>
                        </div>
                    </th>
                    <th>
                        <div class="table-content">
                            <label>商品</label>
                            <label>個数　</label>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for product in content %}
                    {% if (loop.index) % 4 == 1 %}
                        <tr>
                    {% endif %}
                    <td>
                        <div class="table-content">
                            <label>{{ product['name'] }}</label>
                            <label class="total-number">{{ product.quantity }}　</label>
                        </div>
                    </td>
                    {% if (loop.index) % 4 == 0 %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <div class="footer mt-3">
                <label>{{ createDate }} 作成</label>
                <p class="page-number">- {{ loop.index }} -</p>
            </div>
        </div>
    </section>
    {% endfor %}
{% endfor %}
</body>
<style>
    @media print {
        body {
            margin: auto;
            width: 794px;
            height: 1123px;
        }
    }
    @page {
        size: A4 portrait;
        margin: 0;
    }
    .page{
        width: 100%;
        box-sizing: border-box;
        padding: 10px 15px;
    }
    .page{
        page-break-after: always;
    }
    .page:last-child{
        page-break-after: auto;
    }
    .title {
        font-size: 18px;
        font-weight: 0.4 !important;
        display: inline-block;
        border-bottom: 1px black solid;
    }
    .text-center {
        text-align: center;
    }
    p {
        margin: 0;
        font-size: 12px;
    }
    label  {
        margin-bottom: 0;
    }
    .sub-title-wrap {
        display: flex;
        justify-content: space-between;
    }
    .table tbody {
        height: 960px;
    }
    .table th {
        font-size: 12px;
        padding: 3px 3px;
        background: #a9a9a9;
        width: 25%;
    }
    .table td {
        font-size: 13px;
        font-weight: bold;
        padding: 1px 1px;
        width: 25%;
    }
    .table-content {
        display: flex;
        justify-content: space-between;
    }
    .table-content label {
        max-width: 110px;
        height: 15px;
        overflow: hidden;
    }
    .total-number {
        font-size: 12px;
    }
    .footer {
        position: relative;
    }
    .page-number {
        position: absolute;
        left: 50%;
        top: 0;
    }
</style>
