{% extends 'default_frame.twig' %}

{% block main %}
      <div class="wrapper">
        <div class="breadcrumbs">
          <div class="breadcrumbs__page-title">
            <div class="breadcrumbs__page-title-image"><img src="/html/template/default/assets/img/icons/page-title-logo.png" alt=""></div>
            <div class="breadcrumbs__page-title-text">
              <div class="breadcrumbs__page-title-text-en">{{'front.mypage.title_en'|trans}}</div>
              <div class="breadcrumbs__page-title-text-jp">{{'front.mypage.title'|trans}}</div>
            </div>
          </div>
          <div class="breadcrumbs__main"><a class="breadcrumbs__main-pagename breadcrumbs__main-pagename--inactive" href="https://captainfoods.co.jp/stg/shop/">{{'common.position_top'|trans}}</a>
            <div class="breadcrumbs__main-carret"><img src="/html/template/default/assets/img/icons/icon-arrow-right-red.svg" alt=""></div><a class="breadcrumbs__main-pagename breadcrumbs__main-pagename--inactive" href="#">{{'common.position_mypage'|trans}}</a>
            <div class="breadcrumbs__main-carret"><img src="/html/template/default/assets/img/icons/icon-arrow-right-red.svg" alt=""></div><span class="breadcrumbs__main-pagename">{{'common.position_logout_complete'|trans}}</span>
          </div>
        </div>
      </div>
      <div class="logout">
        <div class="wrapper">
          <div class="logout-title">
            <h3>{{'front.mypage.logout.title'|trans}}</h3>
          </div>
        </div>
        <section class="entry-form">
          <div class="logout-txts">
            <p>{{'front.mypage.logout.message01'|trans}}</p>
            <p class="s2">{{'front.mypage.logout.message02'|trans}}</p>
            <h4>{{'front.mypage.logout.message03'|trans}}<a href="">{{'front.mypage.logout.message04'|trans}}</a>{{'front.mypage.logout.message05'|trans}} </h4>
          </div>
          <div class="entry__button-wrap"><a class="entry__button logout__btn" href=""><span>{{'front.mypage.back'|trans}}</span></a></div>
        </section>
      </div>
{% endblock %}
