{% extends 'default_frame.twig' %}

{% block main %}
      <div class="wrapper">
        <div class="breadcrumbs">
          <div class="breadcrumbs__page-title">
            <div class="breadcrumbs__page-title-image"><img src="/html/template/default/assets/img/icons/page-title-logo.png" alt=""></div>
            <div class="breadcrumbs__page-title-text">
              <div class="breadcrumbs__page-title-text-en">{{'front.mypage.title_en'|trans}}</div>
              <div class="breadcrumbs__page-title-text-jp">{{'front.mypage.title'|trans}}</div>
            </div>
          </div>
          <div class="breadcrumbs__main"><a class="breadcrumbs__main-pagename breadcrumbs__main-pagename--inactive" href="https://captainfoods.co.jp/stg/shop/">{{'common.position_top'|trans}}</a>
            <div class="breadcrumbs__main-carret"><img src="/html/template/default/assets/img/icons/icon-arrow-right-red.svg" alt=""></div><a class="breadcrumbs__main-pagename breadcrumbs__main-pagename--inactive" href="#">{{'common.position_mypage'|trans}}</a>
            <div class="breadcrumbs__main-carret"><img src="/html/template/default/assets/img//icons/icon-arrow-right-red.svg" alt=""></div><span class="breadcrumbs__main-pagename">{{'common.position_mail'|trans}}</span>
          </div>
        </div>
      </div>
      <section class="mail">
        <div class="wrapper">
          <h2 class="delivery__heading text">{{'front.mypage.mail.title'|trans}}<br>
            {% if app.user.name01 != ” %}
                <span>{{ app.user.name01 }} {{ app.user.name02 }}{{'common.name.suffix'|trans}}</span>
            {% endif %}
          </h2>
        </div>
        <div class="entry-form">
          <div class="mail__success-message">
            <p class="delivery__heading text">{{'front.mypage.mail.text01'|trans}}<br><span>{{'front.mypage.mail.text02'|trans}}</span></p>
          </div>
          <div class="kaiinhenkou__button-group"><a class="button__secondary button__secondary--okiniiri button__secondary--no-margin" href="#"> 
              <div class="button__secondary-link button__secondary-link--okiniiri">{{'common.move_to_page_mypage'|trans}}</div></a></div>
        </div>
      </section>
{% endblock %}