
{% extends 'default_frame.twig' %}

{% set body_class = 'mypage' %}

{% block main %}
      <div class="wrapper">
        <div class="breadcrumbs">
          <div class="breadcrumbs__page-title">
            <div class="breadcrumbs__page-title-image"><img src="/html/template/default/assets/img/icons/page-title-logo.png" alt=""></div>
            <div class="breadcrumbs__page-title-text">
            <div class="breadcrumbs__page-title-image"><img src="/html/template/default/assets/img/icons/page-title-logo.png" alt=""></div>
            <div class="breadcrumbs__page-title-text">
              <div class="breadcrumbs__page-title-text-en">{{'front.mypage.title_en'|trans}}</div>
              <div class="breadcrumbs__page-title-text-jp">{{'front.mypage.title'|trans}}</div>
            </div>
          </div>
          <div class="breadcrumbs__main"><a class="breadcrumbs__main-pagename breadcrumbs__main-pagename--inactive" href="https://captainfoods.co.jp/stg/shop/">{{'common.position_top'|trans}}</a>
            <div class="breadcrumbs__main-carret"><img src="/html/template/default/assets/img/icons/icon-arrow-right-red.svg" alt=""></div><a class="breadcrumbs__main-pagename breadcrumbs__main-pagename--inactive" href="#">{{'common.position_mypage'|trans}}</a>
            <div class="breadcrumbs__main-carret"><img src="/html/template/default/assets/img/icons/icon-arrow-right-red.svg" alt=""></div><span class="breadcrumbs__main-pagename">{{'front.mypage.password.title'|trans}}</span>
          </div>
        </div>
      </div>
      <div class="password">
        <div class="password__title">
          <h2 class="delivery__heading text">{{'front.mypage.password.title'|trans}}<br>
            {% if app.user.name01 != ” %}
                <span>{{ app.user.name01 }} {{ app.user.name02 }}{{'common.name.suffix'|trans}}</span>
            {% endif %}
          <br><span>{{'front.mypage.password.note'|trans}}</span></h2>
        </div>
        <section class="entry-form">
          <div class="password__container">
            <div class="entry-form__item password__item"><span class="entry-form__label password__label password__label--page-2">{{'front.mypage.info_id_label'|trans}}</span>
              <div class="entry-form__inputs password__inputs"><span>ABCD1234</span></div>
            </div>
            <div class="entry-form__item password__item"><span class="entry-form__label password__label password__label--page-2"> {{'front.mypage.info_password_label'|trans}}</span>
              <div class="entry-form__inputs password__inputs"><span>●●●●●●●●●●</span></div>
              <button class="password__view-pass"><img src="/html/template/default/assets/img/password/view-pass.svg" alt=""><span>{{'admin.common.display'|trans}}</span></button>
            </div>
            <div class="entry-form__item password__item"><span class="entry-form__label password__label password__label--page-2">{{'front.mypage.info_newpassword_label'|trans}}</span>
              <div class="entry-form__inputs password__inputs"><span>●●●●●●●●●●</span></div>
              <button class="password__view-pass"><img src="/html/template/default/assets/img/password/view-pass.svg" alt=""><span>{{'admin.common.display'|trans}}</span></button>
            </div>
            <div class="password__btn-container password__btn-container--m65"><a class="password__btn password__btn--text-end" href=""><span>{{'front.mypage.back'|trans}} </span></a><a class="password__btn" href=""><span>{{'front.pamphlet.to_check'|trans}}</span></a></div>
          </div>
        </section>
      </div>
{% endblock %}
