{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends '@admin/default_frame.twig' %}

{% set menus = ['customer', 'customer_edit'] %}

{% block title %}{{ 'admin.customer.customer_registration'|trans }}{% endblock %}
{% block sub_title %}{{ 'admin.customer.customer_management'|trans }}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block javascript %}
    <script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
    <script src="{{ asset('assets/js/jquery.autoKana.js', 'admin') }}"></script>
    <script>
    // カナ自動入力
    $(function() {
        $.fn.autoKana('#admin_customer_name_name01 ', '#admin_customer_kana_kana01', {katakana:true});
        $.fn.autoKana('#admin_customer_name_name02 ', '#admin_customer_kana_kana02', {katakana:true});
        $.fn.autoKana('#admin_customer_bank_account_name ', '#admin_customer_bank_account_name_kana', {katakana:true});

        $('#admin_customer_admission_type_id').select2();
        $('#admin_customer_address_pref').select2();
        $('#admin_customer_Member').select2();
        $('#admin_customer_WithdrawalReason').select2();
        $('#admin_customer_SettlementType').select2();
        $('#admin_customer_CustomerRank').select2();
        $('#admin_customer_order_time_zone').select2();
        $('#admin_customer_order_type_id').select2();
        $('#admin_customer_delivery_type').select2();

            //select2 autofocus
            $(document).on('select2:open', (e) => {
                if (!$(e.target).attr('multiple')) {
                    document.querySelector('input.select2-search__field').focus();
                }
            });

        {% if isExistPhoneNumber is defined %}
            {% if isExistPhoneNumber == true %}
                $('#exist-phone-number').modal('show');
            {% endif %}
        {% endif %}

        $('#exist-phone-number-register-btn').click(function() {
            let checked = $('#admin_customer_is_duplicate_phone_number');
            $('#admin_customer_is_duplicate_phone_number').prop('checked', true);
            $('#customer_form').submit();
        });
            //配達種別が自社便以外なら配達コードを必須にする
            $('#admin_customer_delivery_type').on('change', function () {
                console.log('test');
                addRequiredToDeliveryCode();
            });

            addRequiredToDeliveryCode();

            $('#admin_customer_withdraw_date').on('change', function () {
                addRequiredToWithdrawalReason();
            });

            addRequiredToWithdrawalReason();
            const postalCode = document.querySelector('.p-postal-code');
            postalCode.addEventListener('keyup', function(event) {
                // Get the postal code
                const postalCode = event.target.value;
                // Call the YubinBango.js method
                new YubinBango.Core(postalCode, function(address) {
                    // Get the prefecture
                    let pref_id = address.k - 1;
                    // Loop over the options in the prefecture select box
                    $('#admin_customer_address_pref').children('option').each(function() {
                        // If the value of the prefecture matches
                        if ($(this).val() == pref_id) {
                            // Select the prefecture
                            $(this).prop('selected', true);
                            // Make sure the selected prefecture is reflected
                            $('#admin_customer_address_pref').val(pref_id).trigger('change');
                        }
                    });
                    // Get the city
                    let city = address.l;
                    // Get the street address
                    let street_address = address.m;
                    // Set the address
                    $('#admin_customer_address_addr01').val(city + street_address);
                })
            });
        {% if Customer.Pref.pref_number is defined %}
            const prefNumber = {{ Customer.Pref.pref_number|json_encode|raw }};
            $('#admin_customer_address_pref').val(prefNumber).trigger('change');
        {% endif %}

        //配達種別が自社便以外なら配達コードを必須にする
        $('#admin_customer_delivery_type').on('change', function () {
            console.log('test');
            addRequiredToDeliveryCode();
        });
    });
    //
            // カスタマー情報の郵便番号を入力すると、配達コードが自動で入力される
            $('#admin_customer_postal_code').keyup(function() {
                let postalCode = $('#admin_customer_postal_code').val();
                postalCode = postalCode.replace(/-/g, '');
                postalCode = postalCode.slice(0, 3) + '-' + postalCode.slice(3) + '-';
                $('#admin_customer_delivery_code_name').val(postalCode);
            });

            // 配達コードを入力すると、配達曜日、配達日が自動で入力される
            $(`#admin_customer_delivery_code_name`).blur(function() {
                const addresses = {{ MtbAddresses|raw }};
                const courseMasters = {{ CourseMasters|raw }};
                const dc_code = $(`#admin_customer_delivery_code_name`).val();

                const result = addresses.filter((address) => {
                    return address.dc_code.includes(dc_code);
                });
                if (result.length) {
                    $(`#admin_customer_delivery_week_1`).val(result[0].delivery_week_1);
                    $(`#admin_customer_delivery_week_2`).val(result[0].delivery_week_2);
                    $(`#admin_customer_delivery_date`).val(result[0].calculation_item);

                    const targetCourse = courseMasters.filter((address) => {
                        return convertToHalfWidth(result[0].name).includes(address.name);
                    });
                    if (targetCourse.length) {
                        $(`#admin_customer_CourseMaster`).val(targetCourse[0].id);
                    }
                }
            });

        function convertToHalfWidth(str) {
          return str.replace(/[０-９]/g, function (s) {
            return String.fromCharCode(s.charCodeAt(0) - 0xFEE0);
          });
        }

        function addRequiredToDeliveryCode() {
            var required_html = '<span class="badge badge-primary ml-1">必須</span>';
            var delivery_type_value = $('#admin_customer_delivery_type').val();
            var delivery_code_title = $('.delivery_code_name_title');
            var existing_badge = delivery_code_title.find('.badge');
            const INHOUSE_DELIVERY = '1';
            const OUTSIDE_DELIVERY = '2';

            if ((delivery_type_value === INHOUSE_DELIVERY || delivery_type_value === '') && existing_badge.length === 0) {
            delivery_code_title.append(required_html);
            } else if (delivery_type_value === OUTSIDE_DELIVERY && existing_badge.length > 0) {
            existing_badge.remove();
            }
        }

        function addRequiredToWithdrawalReason() {
            var required_html = '<span class="badge badge-primary ml-1">必須</span>';
            var withdraw_date_value = $('#admin_customer_withdraw_date').val();
            var withdrawal_reason_title = $('.withdrawal_reason_title');
            var existing_badge = withdrawal_reason_title.find('.badge');

            if (withdraw_date_value != '' && existing_badge.length === 0) {
                withdrawal_reason_title.append(required_html);
            } else if (withdraw_date_value == '' && existing_badge.length > 0) {
                existing_badge.remove();
            }
        }
    </script>
{% endblock javascript %}

{% block main %}
    {# <a class="btn btn-info btn-sm" data-toggle="modal" data-target="#search-pattern">検索パターンを登録</a> #}
    {# 電話番号重複モーダル #}
    {# <div class="col-12 mt-3 text-right">
        <div class="modal fade" id="search-pattern" tabindex="-1" role="dialog" aria-labelledby="search-pattern" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">重複する電話番号が見つかりました</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                            <p class="text-left mb-1">電話番号が重複しています。このまま登録しますか？</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="search-pattern-register-btn" class="btn btn-primary">登録する</button>
                        <button class="btn btn-danger" type="button" data-dismiss="modal">キャンセル</button>
                    </div>
                </div>
            </div>
        </div>
    </div> #}
    <form name="customer_form" role="form" id="customer_form" method="post" class="h-adr"
          action="{%- if Customer.id %}{{ url('admin_customer_edit', { id : Customer.id }) }}{% else %}{{ url('admin_customer_new') }}{% endif -%}">
        <span class="p-country-name" style="display:none;">Japan</span>
        {{ form_widget(form._token) }}
        {# 電話番号重複フラグ (重複可のときtrue)#}
        <div style="display:none;">
            {{ form_widget(form.is_duplicate_phone_number) }}
        </div>
        {# 電話番号重複モーダル #}
        <div class="col-12 mt-3 text-right">
            <div class="modal fade" id="exist-phone-number" tabindex="-1">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">重複する電話番号が見つかりました</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span>×</span></button>
                        </div>
                        <div class="modal-body">
                                <p class="text-left mb-1">電話番号が重複しています。このまま登録しますか？</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="exist-phone-number-register-btn" class="btn btn-primary">登録する</button>
                            <button class="btn btn-danger" type="button" data-dismiss="modal">キャンセル</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8"><span class="card-title">基本情報</span>
                                </div>
                                <div class="col-4 text-right">
                                    <a data-toggle="collapse" href="#ordererInfo"
                                       aria-expanded="false" aria-controls="ordererInfo">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="ordererInfo">
                            <div class="card-body">
                                {% if Customer.id %}
                                    <div class="row mb-2">
                                        <div class="col-3">
                                            <div class="d-inline-block" data-tooltip="true" data-placement="top"
                                                 title="{{ 'tooltip.customer.customer_id'|trans }}">
                                                <span>{{ 'admin.customer.customer_id'|trans }}</span>
                                                <i class="fa fa-question-circle fa-lg ml-1"></i>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <p>{{ Customer.id }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.name'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.common.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.name.name01) }}
                                            </div>
                                            <div class="col">
                                                {{ form_widget(form.name.name02) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.name.name01) }}
                                            </div>
                                            <div class="col">
                                                {{ form_errors(form.name.name02) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.kana'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.common.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.kana.kana01) }}
                                            </div>
                                            <div class="col">
                                                {{ form_widget(form.kana.kana02) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.kana.kana01) }}
                                            </div>
                                            <div class="col">
                                                {{ form_errors(form.kana.kana02) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.gender'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.sex,  {'label_attr': {'class': 'radio-inline'}}) }}
                                        {{ form_errors(form.sex) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.birth_day'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.common.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.birth) }}
                                        {{ form_errors(form.birth) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3"><span>{{ 'admin.common.zipcode'|trans }}</span><span
                                                class="badge badge-primary ml-1">{{ 'admin.common.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <div class="row justify-content-start">
                                                <div class="col-auto pr-0 align-self-center">
                                                    <span>{{ 'admin.common.postal_symbol'|trans }}</span>
                                                </div>
                                                <div class="col-2">
                                                    {{ form_widget(form.postal_code) }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    {{ form_errors(form.postal_code) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'common.pref'|trans }}</span>
                                    </div>
                                    <div class="  col-3 ">
                                        {{ form_widget(form.address.pref) }}
                                        {{ form_errors(form.address.pref) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'common.address01'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.common.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.address.addr01, { attr : { placeholder : 'admin.common.address_sample_01' }} ) }}
                                            {{ form_errors(form.address.addr01) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'common.address02'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.common.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.address.addr02, { attr : { placeholder : 'admin.common.address_sample_02' }}) }}
                                        {{ form_errors(form.address.addr02) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'common.address03'|trans }}</span>
                                    </div>
                                    <div class="col">
                                      {{ form_widget(form.addr03, { attr : { placeholder : 'admin.common.address_sample_03' }}) }}
                                            {{ form_errors(form.addr03) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.phone_number'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.common.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.phone_number) }}
                                        {{ form_errors(form.phone_number) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.sub_tel'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.sub_tel) }}
                                        {{ form_errors(form.sub_tel) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.fax'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.fax) }}
                                        {{ form_errors(form.fax) }}
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>コールコメント</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.note) }}
                                        {{ form_errors(form.note) }}
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>注文コメント</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.note_2) }}
                                        {{ form_errors(form.note_2) }}
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>配送コメント</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.note_3) }}
                                        {{ form_errors(form.note_3) }}
                                    </div>
                                </div>

{#                                <div class="row mb-2">#}
{#                                    <div class="col-3">#}
{#                                        <span>{{ 'admin.common.job'|trans }}</span>#}
{#                                    </div>#}
{#                                    <div class="col">#}
{#                                        {{ form_widget(form.job) }}#}
{#                                        {{ form_errors(form.job) }}#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="row mb-2">#}
{#                                    <div class="col-3">#}
{#                                        <span>{{ 'admin.common.where_hear_about_this_site'|trans }}</span>#}
{#                                    </div>#}
{#                                    <div class="col">#}
{#                                        {{ form_widget(form.where_hear_about_this_site) }}#}
{#                                        {{ form_errors(form.where_hear_about_this_site) }}#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="row mb-2">#}
{#                                    <div class="col-3">#}
{#                                        <span>{{ 'admin.common.survey_1'|trans }}</span>#}
{#                                    </div>#}
{#                                    <div class="col">#}
{#                                        {{ form_widget(form.survey_1) }}#}
{#                                        {{ form_errors(form.survey_1) }}#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="row mb-2">#}
{#                                    <div class="col-3">#}
{#                                        <span>{{ 'admin.common.survey_2'|trans }}</span>#}
{#                                    </div>#}
{#                                    <div class="col">#}
{#                                        {{ form_widget(form.survey_2) }}#}
{#                                        {{ form_errors(form.survey_2) }}#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="row mb-2">#}
{#                                    <div class="col-3">#}
{#                                        <span>{{ 'admin.common.base_class'|trans }}</span>#}
{#                                    </div>#}
{#                                    <div class="col">#}
{#                                        {{ form_widget(form.base_class) }}#}
{#                                        {{ form_errors(form.base_class) }}#}
{#                                    </div>#}
{#                                </div>#}

{#                                <div class="row mb-2">#}
{#                                    <div class="col-3">#}
{#                                        <span>{{ 'admin.common.site_identifier'|trans }}</span>#}
{#                                    </div>#}
{#                                    <div class="col">#}
{#                                        {{ form_widget(form.site_identifier) }}#}
{#                                        {{ form_errors(form.site_identifier) }}#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="row mb-2">#}
{#                                    <div class="col-3">#}
{#                                        <span>{{ 'admin.common.user_id_2'|trans }}</span>#}
{#                                    </div>#}
{#                                    <div class="col">#}
{#                                        {{ form_widget(form.user_id_2) }}#}
{#                                        {{ form_errors(form.user_id_2) }}#}
{#                                    </div>#}
{#                                </div>#}

                                {# エンティティ拡張の自動出力 #}
                                {% for f in form|filter(f => f.vars.eccube_form_options.auto_render) %}
                                    {% if f.vars.eccube_form_options.form_theme %}
                                        {% form_theme f f.vars.eccube_form_options.form_theme %}
                                        {{ form_row(f) }}
                                    {% else %}
                                        <div class="row mb-2">
                                            <div class="col-3">
                                                <span>{{ f.vars.label|trans }}</span>
                                            </div>
                                            <div class="col">
                                                {{ form_widget(f) }}
                                                {{ form_errors(f) }}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>

                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8"><span class="card-title">配送情報</span>
                                </div>
                                <div class="col-4 text-right">
                                    <a data-toggle="collapse" href="#deleveryInfo"
                                       aria-expanded="false" aria-controls="deleveryInfo">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="deleveryInfo">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-3 delivery_code_name_title">
                                        <span >{{ 'admin.common.dc_code'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.common.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.delivery_code_name) }}
                                        {{ form_errors(form.delivery_code_name) }}
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.delivery_week_1'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.delivery_week_1) }}
                                        {{ form_errors(form.delivery_week_1) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.delivery_week_2'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.delivery_week_2) }}
                                        {{ form_errors(form.delivery_week_2) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.delivery_date'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.delivery_date) }}
                                        {{ form_errors(form.delivery_date) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>コース</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.CourseMaster) }}
                                        {{ form_errors(form.CourseMaster) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>地図ページ</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.map_page) }}
                                        {{ form_errors(form.map_page) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8"><span class="card-title">管理情報</span>
                                </div>
                                <div class="col-4 text-right">
                                    <a data-toggle="collapse" href="#adminInfo"
                                       aria-expanded="false" aria-controls="adminInfo">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="adminInfo">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>入会日</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.common.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.entry_date) }}
                                        {{ form_errors(form.entry_date) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>退会日</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.withdraw_date) }}
                                        {{ form_errors(form.withdraw_date) }}
                                    </div>
                                </div>
                                <div class="row mb-2 withdrawal_reason_wrap">
                                    <div class="col-3 withdrawal_reason_title">
                                        <span>退会理由</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.WithdrawalReason) }}
                                        {{ form_errors(form.WithdrawalReason) }}
                                    </div>
                                </div>
{#                                SAコード#}
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.sa_code'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.common.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.Member) }}
                                        {{ form_errors(form.Member) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.settlement_type_id'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.common.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.SettlementType) }}
                                        {{ form_errors(form.SettlementType) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8"><span class="card-title">分類項目</span>
                                </div>
                                <div class="col-4 text-right">
                                    <a data-toggle="collapse" href="#classificationInfo"
                                       aria-expanded="false" aria-controls="classificationInfo">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="classificationInfo">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.delivery_type'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.common.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.delivery_type) }}
                                        {{ form_errors(form.delivery_type) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.order_type_id'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.common.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.order_type_id) }}
                                        {{ form_errors(form.order_type_id) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.admission_type_id'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.common.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.admission_type_id) }}
                                        {{ form_errors(form.admission_type_id) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>初回公募</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.initial_public_offering_id) }}
                                        {{ form_errors(form.initial_public_offering_id) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8"><span class="card-title">ECサイト</span>
                                </div>
                                <div class="col-4 text-right">
                                    <a data-toggle="collapse" href="#ecSiteInfo"
                                       aria-expanded="false" aria-controls="ecSiteInfo">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="ecSiteInfo">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.is_web_order'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.is_web_order) }}
                                        {{ form_errors(form.is_web_order) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>会員ID</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.customer_id) }}
                                        {{ form_errors(form.customer_id) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.password'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.password.first) }}
                                        {{ form_errors(form.password.first) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.password_for_confirmation'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.password.second) }}
                                        {{ form_errors(form.password.second) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.mail_address'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.email, { attr: { required: false } }) }}

                                        {{ form_errors(form.email) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.order_time_zone'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.common.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.order_time_zone) }}
                                        {{ form_errors(form.order_time_zone) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.delivery_preferred_time'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.delivery_preferred_time) }}
                                        {{ form_errors(form.delivery_preferred_time) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>会員区分</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.common.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.CustomerRank) }}
                                        {{ form_errors(form.CustomerRank) }}
                                    </div>
                                </div>
                                     <div class="row mb-2">
                                    <div class="col-3">
                                       <span>{{ 'admin.setting.system.rank.unit_price_rate'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.common.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                          {{ form_widget(form.unit_cost_rate) }}
                                         {{ form_errors(form.unit_cost_rate) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.is_dm_subscription'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.common.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.is_dm_subscription, {'attr': {'value': 1}}) }}
                                        {{ form_errors(form.is_dm_subscription) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.is_dm_subscription_2'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.common.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.is_dm_subscription_2) }}
                                        {{ form_errors(form.is_dm_subscription_2) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>コールリスト掲載日</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.call_list_public_date) }}
                                        {{ form_errors(form.call_list_public_date) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>どこで知りましたか？</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.where_hear_about_this_site) }}
                                        {{ form_errors(form.where_hear_about_this_site) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>会社名</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.company_name) }}
                                        {{ form_errors(form.company_name) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8"><span class="card-title">自動引落情報</span>
                                </div>
                                <div class="col-4 text-right">
                                    <a data-toggle="collapse" href="#bankInfo"
                                       aria-expanded="false" aria-controls="bankInfo">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="bankInfo">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>貯金記号</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.bank_account_symbol) }}
                                        {{ form_errors(form.bank_account_symbol) }}
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>貯金番号</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.bank_account_number) }}
                                        {{ form_errors(form.bank_account_number) }}
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>名義人名</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.bank_account_name) }}
                                        {{ form_errors(form.bank_account_name) }}
                                    </div>
                                </div>

                                   <div class="row mb-2">
                                    <div class="col-3">
                                        <span>名義人名カナ</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.bank_account_name_kana) }}
                                        {{ form_errors(form.bank_account_name_kana) }}
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>登録日</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.bank_account_registration_date) }}
                                        {{ form_errors(form.bank_account_registration_date) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8"><span class="card-title">顧客履歴</span>
                                </div>
                                <div class="col-4 text-right">
                                    <a data-toggle="collapse" href="#customerInfo"
                                       aria-expanded="false" aria-controls="customerInfo">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="customerInfo">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>初回購入日</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.first_buy_date) }}
                                        {{ form_errors(form.first_buy_date) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>未納回数</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.nonpayment_times) }}
                                        {{ form_errors(form.nonpayment_times) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.no_consecutive_order_count'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.no_consecutive_order_count) }}
                                        {{ form_errors(form.no_consecutive_order_count) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>購入回数</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.buy_times) }}
                                        {{ form_errors(form.buy_times) }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.point'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.point) }}
                                        {{ form_errors(form.point) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if Customer.id %}
                        <div class="card rounded border-0 mb-4">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="d-inline-block" data-tooltip="true" data-placement="top"
                                             title="{{ 'tooltip.customer.customer_address'|trans }}">
                                        <span class="card-title">
                                            {{ 'admin.customer.customer_address'|trans }}
                                            <i class="fa fa-question-circle fa-lg ml-1"></i>
                                        </span>
                                        </div>
                                    </div>
                                    <div class="col-4 text-right">
                                        <a data-toggle="collapse" href="#delivery" aria-expanded="false"
                                           aria-controls="delivery">
                                            <i class="fa fa-angle-up fa-lg"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="collapse show ec-cardCollapse" id="delivery">
                                {% if Customer.CustomerAddresses|length > 0 %}
                                    <div class="card-body">
                                        <table class="table table-striped table-sm">
                                            <thead class="table-active">
                                            <th class="align-middle pt-2 pb-2">{{ 'admin.common.name'|trans }}</th>
                                            <th class="align-middle pt-2 pb-2">{{ 'admin.common.address'|trans }}</th>
                                            <th class="align-middle pt-2 pb-2 pr-3">{{ 'admin.common.phone_number'|trans }}</th>
                                            <th class="align-middle pt-2 pb-2 pr-3"></th>
                                            </thead>
                                            <tbody>
                                            {% for CustomerAddress in Customer.CustomerAddresses %}
                                                <tr>
                                                    <td class="align-middle">
                                                        {{ CustomerAddress.name01 }}&nbsp;{{ CustomerAddress.name02 }}
                                                    </td>
                                                    <td class="align-middle">
                                                        <a href="{{ url('admin_customer_delivery_edit', { 'id': Customer.id, 'did': CustomerAddress.id }) }}">
                                                            {{ 'admin.common.postal_symbol'|trans }}{{ CustomerAddress.postal_code }} {{ CustomerAddress.Pref }}{{ CustomerAddress.addr01 }}{{ CustomerAddress.addr02 }}
                                                        </a>
                                                    </td>
                                                    <td class="align-middle">
                                                        {{ CustomerAddress.phone_number }}
                                                    </td>
                                                    <td>
                                                        <div class="text-center" data-tooltip="true" data-placement="top" title="{{ 'admin.common.delete'|trans }}">
                                                            <a class="btn btn-ec-actionIcon" data-toggle="modal"
                                                               data-target="#discontinuance-{{ CustomerAddress.id }}">
                                                                <i class="fa fa-close text-secondary"
                                                                   aria-hidden="true"></i>
                                                            </a>
                                                        </div>
                                                        <div class="modal fade" id="discontinuance-{{ CustomerAddress.id }}" tabindex="-1" role="dialog" aria-labelledby="discontinuance" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title font-weight-bold">
                                                                            {{ 'admin.common.delete_modal__title'|trans }}</h5>
                                                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">×</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body text-left">
                                                                        <p class="text-left">
                                                                            {{ 'admin.common.delete_modal__message'|trans({ '%name%' : 'admin.common.postal_symbol'|trans ~ CustomerAddress.postal_code ~ CustomerAddress.Pref ~ ' ' ~ CustomerAddress.name01 ~ CustomerAddress.name02 }) }}</p>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button class="btn btn-ec-sub" type="button" data-dismiss="modal">
                                                                            {{ 'admin.common.cancel'|trans }}
                                                                        </button>
                                                                        <a href="{{ url('admin_customer_delivery_delete', {'id' : Customer.id, 'did':  CustomerAddress.id}) }}" class="btn btn-ec-delete"{{ csrf_token_for_anchor() }} data-method="delete" data-confirm="false">
                                                                            {{ 'admin.common.delete'|trans }}
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>

                                        {# TODO: 新規追加ボタンと文言のデザインを整える #}
                                        {% if Customer.CustomerAddresses|length < eccube_config.eccube_deliv_addr_max %}
                                            <div class="d-block text-center">
                                                <a href="{{ url('admin_customer_delivery_new', { id: Customer.id }) }}"
                                                   class="btn btn-ec-regular">{{ 'admin.customer.customer_address__add'|trans }}</a>
                                            </div>
                                        {% else %}
                                            <span class="ec-errorMessage">
                                                {{ 'admin.customer.customer_address_count_is_over'|trans({"%eccube_deliv_addr_max%":eccube_config.eccube_deliv_addr_max}) }}
                                            </span>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <div class="card-body">
                                        <div id="address_box" class="data-empty">
                                            <span>{{ 'admin.customer.no_customer_address'|trans }}</span>
                                        </div>

                                        <div class="d-block text-center">
                                            <a href="{{ url('admin_customer_delivery_new', { id: Customer.id }) }}"
                                               class="btn btn-ec-regular">{{ 'admin.customer.customer_address__add'|trans }}</a>
                                        </div>

                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                    {% if Customer.id %}
                        <div class="card rounded border-0 mb-4">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="d-inline-block" data-tooltip="true" data-placement="top"
                                             title="{{ 'tooltip.customer.purchase_history'|trans }}">
                                        <span class="card-title">
                                            {{ 'admin.customer.purchase_history'|trans }}
                                            <i class="fa fa-question-circle fa-lg ml-1"></i>
                                        </span>
                                        </div>
                                    </div>
                                    <div class="col-4 text-right">
                                        <a data-toggle="collapse" href="#orderHistory" aria-expanded="false"
                                           aria-controls="orderHistory">
                                            <i class="fa fa-angle-up fa-lg"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="collapse show ec-cardCollapse" id="orderHistory">
                                {% if Customer.Orders|length > 0 %}
                                    <div class="card-body">
                                        <table class="table table-striped table-sm">
                                            <thead class="table-active">
                                            <th class="align-middle pt-2 pb-2 pl-3">{{ 'admin.order.order_date'|trans }}</th>
                                            <th class="align-middle pt-2 pb-2">{{ 'admin.order.order_no'|trans }}</th>
                                            <th class="align-middle pt-2 pb-2">{{ 'admin.order.purchase_price'|trans }}</th>
                                            <th class="align-middle pt-2 pb-2 pr-3">{{ 'admin.order.order_status'|trans }}</th>
                                            </thead>
                                            <tbody>
                                            {% for Order in Customer.Orders %}
                                                <tr>
                                                    <td class="align-middle pl-3">{{ Order.order_date|date_min }}</td>
                                                    <td class="align-middle">
                                                        <a href="{{ url('admin_order_edit', { 'id' : Order.id }) }}">
                                                            {{ Order.order_no }}
                                                        </a>
                                                    </td>
                                                    <td class="align-middle">{{ Order.total|price }}</td>
                                                    <td class="align-middle pr-3">
                                                        <span class="badge badge-ec-blue" style="background-color: #fff; color: {{ Order.OrderStatusColor }}; border-color: {{ Order.OrderStatusColor }}">{{ Order.OrderStatus }}</span>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <div class="card-body">
                                        <div id="history_box" class="data-empty">
                                        <span>
                                            {{ 'admin.customer.no_purchase_history'|trans }}
                                        </span>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                    {% if Customer.id %}
                        <div class="card rounded border-0 mb-4">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="d-inline-block" data-tooltip="true" data-placement="top">
                    <span class="card-title">
                        ポイント履歴
                    </span>
                                        </div>
                                    </div>
                                    <div class="col-4 text-right">
                                        <a data-toggle="collapse" href="#pointHistory" aria-expanded="false"
                                           aria-controls="pointHistory">
                                            <i class="fa fa-angle-up fa-lg"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="collapse show ec-cardCollapse" id="pointHistory">
                                {% set point_histories = get_point_histories(Customer) %}
                                {% if point_histories|length > 0 %}
                                    <div class="card-body">
                                        <table class="table table-striped table-sm">
                                            <thead class="table-active">
                                            <tr>
                                                <th class="align-middle pt-2 pb-2 pl-3">日時</th>
                                                <th class="align-middle pt-2 pb-2">獲得・利用</th>
                                                <th class="align-middle pt-2 pb-2">トリガ</th>
                                                <th class="align-middle pt-2 pb-2 pr-3">ポイント数</th>
                                                <th class="align-middle pt-2 pb-2 pr-3">注文番号</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for history in point_histories %}
                                                <tr>
                                                    <td class="align-middle pl-3">{{ history.create_date|date_min }}</td>
                                                    <td class="align-middle">
                                                        {% if history.record_type == 1 %}
                                                            獲得
                                                        {% elseif history.record_type == 2 %}
                                                            利用
                                                        {% elseif history.record_type == 3 %}
                                                            失効
                                                        {% elseif history.record_type == 4 %}
                                                            ポイント移行
                                                        {% endif %}
                                                    </td>
                                                    <td class="align-middle">
                                                        {% if history.record_event == 1 %}
                                                            商品購入
                                                        {% elseif history.record_event == 2 %}
                                                            会員登録 特典
                                                        {% elseif history.record_event == 3 %}
                                                            ご注文取り消し
                                                        {% elseif history.record_event == 4 %}
                                                            管理画面で編集
                                                        {% elseif history.record_event == 5 %}
                                                            期限切れ
                                                        {% elseif history.record_event == 6 %}
                                                            ポイント移行
                                                        {% elseif history.record_event == 7 %}
                                                            レビュー投稿
                                                        {% endif %}
                                                    </td>
                                                    <td class="align-middle pr-3">
                                                        {{ history.point }}
                                                    </td>
                                                    <td class="align-middle">
                                                        {% if history.order is not null %}
                                                            <a href="{{ url('admin_order_edit', { 'id' : history.order.id }) }}">
                                                                {{ history.order.order_no }}
                                                            </a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <div class="card-body">
                                        <div id="history_box" class="data-empty">
                    <span>
                        ポイントの履歴がありません
                    </span>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="c-conversionArea">
            <div class="c-conversionArea__container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-6">
                        <div class="c-conversionArea__leftBlockItem">
                            <a class="c-baseLink"
                               href="{{ url('admin_customer_page', { page_no : app.session.get('eccube.admin.customer.search.page_no')|default('1') } ) }}?resume=1">
                                <i class="fa fa-backward" aria-hidden="true"></i>
                                <span>{{ 'admin.customer.customer_list'|trans }}</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div id="ex-conversion-action" class="row align-items-center justify-content-end">
                            <div class="col-auto" style="display: none;">
                                {{ form_widget(form.status) }}
                                {{ form_errors(form.status) }}
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-ec-conversion px-5"
                                        type="submit">{{ 'admin.common.registration'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
