{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['setting', 'master_data', 'delivery_calendar'] %}

{% block title %}{{ 'admin.setting.system.delivery_calendar_management'|trans }}{% endblock %}
{% block sub_title %}{{ 'admin.setting.system'|trans }}{% endblock %}


{% form_theme form 'Form/bootstrap_4_layout.html.twig' %}

{% block javascript %}
    <script>
        $('.action-down, .action-up').on('click', function(e) {
            var self = $(this),
                current = $(this).parents('tr');
            $('body').append($('<div class="modal-backdrop show"></div>'));
            $.ajax({
                url: self.attr('href'),
                method: self.data('method'),
            }).done(function() {
                if (self.hasClass('action-down')) {
                    current.next().after(current);
                } else {
                    current.prev().before(current);
                }
            }).always(function() {
                $('.modal-backdrop').remove();
                $('.action-up, .action-down').removeClass('disabled');
                $('.action-up').first().addClass('disabled');
                $('.action-down').last().addClass('disabled');
            });

            return false;
        });
    </script>
{% endblock %}

{% block main %}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div id="ex-member-new" class="d-block mb-3">
                    <a class="btn btn-ec-regular" href="{{ url('admin_setting_system_master_delivery_calendar_new') }}">{{ 'admin.common.registration__new'|trans }}</a>
                </div>
                <div class="card rounded border-0 mb-4">
                    <div class="card-body p-0">
                        <form name="form1" id="form1" method="post" action="">
                            <table class="table table-sm">
                                <thead>
                                <tr>
                                    <th class="border-top-0 pt-2 pb-2 text-center">
                                        {{ 'admin.setting.system.delivery_calendar.year'|trans }}
                                    </th>
                                    <th class="border-top-0 pt-2 pb-2 text-center">
                                        {{ 'admin.setting.system.delivery_calendar.month'|trans }}
                                    </th>
                                    <th class="border-top-0 pt-2 pb-2 text-center">
                                        {{ 'admin.setting.system.delivery_calendar.delivery_week'|trans }}
                                    </th>
                                    <th class="border-top-0 pt-2 pb-2 text-center">
                                        {{ 'admin.setting.system.delivery_calendar.delivery_day'|trans }}
                                    </th>
                                    <th class="border-top-0 pt-2 pb-2 text-center"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for DeliveryCalendar in DeliveryCalendars %}
                                    <tr id="ex-member-{{ DeliveryCalendar.id }}">
                                        <td class="align-middle text-center pl-3">
                                            {{ DeliveryCalendar.year }}
                                        </td>
                                        <td class="align-middle text-center">
                                            {{ DeliveryCalendar.month }}
                                        </td>
                                        <td class="align-middle text-center pl-3">
                                            {{ DeliveryCalendar.delivery_week }}
                                        </td>
                                        <td class="align-middle text-center">
                                            {{ DeliveryCalendar.delivery_day }}
                                        </td>
                                        <td class="align-middle pr-3">
                                            <div class="text-right">
                                                <div class="px-1 d-inline-block">
                                                    <a class="btn btn-ec-actionIcon action-edit"
                                                       href="{{ url('admin_setting_system_master_delivery_calendar_edit', { 'id' : DeliveryCalendar.id }) }}"
                                                       data-tooltip="true"
                                                       data-placement="top"
                                                       data-original-title="{{ 'admin.common.edit'|trans }}">
                                                        <i class="fa fa-pencil fa-lg text-secondary" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                                <div class="px-1 d-inline-block">
                                                    <a class="btn btn-ec-actionIcon action-up {% if loop.first %} disabled {% endif %}"
                                                       href="{{ url('admin_setting_system_master_delivery_calendar_up', {id: DeliveryCalendar.id}) }}"
                                                       data-tooltip="true"
                                                       data-method="put"
                                                       data-placement="top"
                                                       data-original-title="{{ 'admin.common.up'|trans }}">
                                                        <i class="fa fa-arrow-up fa-lg text-secondary" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                                <div class="px-1 d-inline-block">
                                                    <a class="btn btn-ec-actionIcon action-down {% if loop.last %} disabled {% endif %}"
                                                       href="{{ url('admin_setting_system_master_delivery_calendar_down', {id: DeliveryCalendar.id}) }}"
                                                       data-tooltip="true"
                                                       data-method="put"
                                                       data-placement="top"
                                                       data-original-title="{{ 'admin.common.down'|trans }}">
                                                        <i class="fa fa-arrow-down fa-lg text-secondary" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                                <div class="px-1 d-inline-block">
                                                    {% if DeliveryCalendar.id == app.user.id %}
                                                        <a class="btn btn-ec-actionIcon action-delete mr-2 disabled"
                                                            data-tooltip="true" data-placement="top"
                                                            title="{{ 'admin.common.delete'|trans }}">
                                                            <i class="fa fa-close fa-lg text-secondary" aria-hidden="true"></i>
                                                        </a>
                                                    {% else %}
                                                        <div class="d-inline-block mr-2" data-tooltip="true" data-placement="top"
                                                             title="{{ 'admin.common.delete'|trans }}">
                                                            <a class="btn btn-ec-actionIcon action-delete"
                                                               data-toggle="modal"
                                                               data-target="#member_delete_{{ DeliveryCalendar.id }}">
                                                                <i class="fa fa-close fa-lg text-secondary" aria-hidden="true"></i>
                                                            </a>
                                                        </div>
                                                        <div class="modal fade" id="member_delete_{{ DeliveryCalendar.id }}" tabindex="-1"
                                                             role="dialog"
                                                             aria-labelledby="member_delete_{{ DeliveryCalendar.id }}" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title font-weight-bold">
                                                                            {{ 'admin.setting.system.member.delete__confirm_title'|trans }}</h5>
                                                                        <button class="close" type="button"
                                                                                data-dismiss="modal"
                                                                                aria-label="Close"><span
                                                                                    aria-hidden="true">×</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body text-left">
                                                                        <p class="text-left">
                                                                            {{ 'admin.setting.system.member.delete__confirm_message'|trans }}</p>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button class="btn btn-ec-sub" type="button" data-dismiss="modal">{{ 'admin.common.cancel'|trans }}
                                                                        </button>
                                                                        <a class="btn btn-ec-delete"
                                                                           href="{{ url('admin_setting_system_master_delivery_calendar_delete', {id: DeliveryCalendar.id}) }}"
                                                                                {{ csrf_token_for_anchor() }}
                                                                           data-method="delete" data-confirm="false">
                                                                            {{ 'admin.common.delete'|trans }}
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
