{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
    <footer class="footer">
      <div class="footer__wrapper">
        <div class="footer__flex">
          <div class="footer__company">
            <div class="footer__company-logo"><img src="/html/template/default/assets/img/common/logo_white.png" alt="" loading="lazy"></div>
            <div class="footer__company-contact">
              <div class="footer__company-telephone"><img src="/html/template/default/assets/img/common/telephone-logo.svg" alt="" loading="lazy"><span>045-831-6235</span></div>
              <div class="footer__company-schedule"><span>営業時間：平日9:00～17:00</span><span>土日休み</span></div>
            </div>
            <div class="footer__company-social"><a href="https://www.facebook.com/benishakeamashio" target="__blank"><img src="/html/template/default/assets/img/common/facebook-logo.svg" alt="" loading="lazy"><span>Facebook</span></a><a href="https://www.instagram.com/captainfoods.co.jp/" target="__blank"><img src="/html/template/default/assets/img/common/instagram-logo.svg" alt="" loading="lazy"><span>Instagram</span></a></div>
          </div>
          <div class="footer__link-a"><a href="/sitemap">サイトマップ </a><a href="/tokutei">特定商取引法に基づく表記</a><a href="privacy-policy.html">プライバシーポリシー</a></div>
          <div class="footer__link-b"><a href="https://captainfoods.co.jp/shop/">トップページ</a></div>
          <div class="footer__link-c"><a href="/beginner">会員登録</a><a href="/guide">ご利用ガイド</a><a href="/voice-list">お客様の声</a><a href="/faq">よくある質問</a>
            <!--a(href="#") お知らせ--><a href="https://captainfoods.co.jp/lp/" target="__blank"> <img src="/html/template/default/assets/img/common/external-link-logo.svg" alt="" loading="lazy"><span>キャプテンフーヅについて</span></a><a href="/beginner">初めての方へ</a><a href="/company">会社案内</a><a href="https://captainfoods.co.jp/shop/contact/contact.aspx">お問い合わせ</a>
          </div>
          <div class="footer__link-d"><a href="#">{{'front.footer.shopping'|trans}}</a>
            <div class="footer__link-d-row">
              <div class="footer__link-d-col"><a href="#"{{'front.footer.seafood'|trans}}</a><a href="#"{{'front.footer.meat'|trans}}</a><a href="#"{{'front.footer.side_dish'|trans}}</a><a href="#"{{'front.footer.light_meal'|trans}}</a><a href="#"{{'front.footer.fridfood'|trans}}</a><a href="#"{{'front.footer.noodle_bowl'|trans}}</a></div>
              <div class="footer__link-d-col"><a href="#"{{'front.footer.discounts'|trans}}</a><a href="#"{{'front.footer.sweets'|trans}}</a><a href="#"{{'front.footer.fruits'|trans}}</a><a href="#"{{'front.footer.vegitacles'|trans}}</a><a href="#"{{'front.footer.others'|trans}}</a><a href="#"{{'front.footer.healthy'|trans}}</a><a href="#"{{'front.footer.online'|trans}}</a><a href="#"{{'front.footer.gifts'|trans}}</a></div>
            </div>
          </div>
        </div>
        <div class="footer__copyrights">{{'front.footer.copyrights'|trans}}</div>
      </div><a class="footer__gotop" href="#">{{'front.footer.pagetop'|trans}}</a>
    </footer>
