{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'cart_page' %}

{% block main %}
      <div class="wrapper application__container">
        <div class="breadcrumbs">
          <div class="breadcrumbs__page-title">
            <div class="breadcrumbs__page-title-image"><img src="/html/template/default/assets/img/common/page-title-logo.png" alt=""></div>
            <div class="breadcrumbs__page-title-text">
              <div class="breadcrumbs__page-title-text-en">{{ 'front.shopping.form_title__sub'|trans}}</div>
              <div class="breadcrumbs__page-title-text-jp">{{ 'front.shopping.form_title'|trans }}</div>
            </div>
          </div>
          <div class="breadcrumbs__main"><a class="breadcrumbs__main-pagename breadcrumbs__main-pagename--inactive" href="https://captainfoods.co.jp/stg/shop/">{{'common.position_top'|trans}}</a>
            <div class="breadcrumbs__main-carret"><img src="img\icons\icon-arrow-right-red.svg" alt=""></div><span class="breadcrumbs__main-pagename">{{ 'front.shopping.form_title'|trans }}</span>
          </div>
        </div>
      </div>
      <section class="entry-form"> 
        <h2 class="entry__title">{{ 'front.shopping.complete_message__title'|trans }}</h2>
        <p class="entry-form__complete">{{ 'front.shopping.complete_message__body1'|trans }}<br>{{ 'front.shopping.complete_message__body2'|trans }}<br>{{ 'front.shopping.complete_message__body3'|trans }}</p><a class="entry__button entry__button--short" href=""><span>{{'common.move_to_page_top'|trans}}</span></a>
      </section>
{% endblock %}
